.exam-center[data-v-39ef037d]{padding:20px 0}.card-header[data-v-39ef037d]{display:flex;justify-content:space-between;align-items:center}.card-header h3[data-v-39ef037d]{margin:0;font-size:18px;font-weight:700}
